
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# Framework
/.cache/
/.env
/.env.local
*.html
/reports/html
reports/html/index.html
