
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
reports/
reports/html/index.html
reports/html/index.json
reports/html/index.xml

# Framework
/.cache/
/.env
/.env.local
