
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
/reports/
/report/html/index.html
report/html/index.json
report/html/index.xml

# Framework
/.cache/
/.env
/.env.local
